node_id = 2
node_name = 'node2'
conninfo = 'host=192.168.10.20 user=repmgr dbname=repmgr'
data_directory = '/var/lib/postgresql/16/main'
use_replication_slots = yes
#reconnect_attempts = 5
#reconnect_interval = 1
#failover = automatic
pg_bindir = '/usr/lib/postgresql/16/bin'
#promote_command = 'repmgr standby promote -f /etc/repmgr.conf'
#follow_command = 'repmgr standby follow -f /etc/repmgr.conf'
log_level = INFO
log_file = '/var/log/postgresql/repmgr.log'
service_start_command   = 'sudo pg_ctlcluster 16 main start'
service_stop_command    = 'sudo pg_ctlcluster 16 main stop'
service_restart_command = 'sudo pg_ctlcluster 16 main restart'
service_reload_command  = 'sudo pg_ctlcluster 16 main reload' 
#monitoring_history=yes
#monitor_interval_secs=5
#log_status_interval=5
#promote_check_timeout=5
#promote_check_interval=1
#master_response_timeout=5
