[Unit]
Description=Run PostgreSQL backup every 5 minutes

[Timer]
OnBootSec=15min
OnCalendar=*-*-* 03:30:00
Persistent=true

[Install]
WantedBy=timers.target
